@font-face {
  font-family: primaryFont;
  src: url(/public/fonts/DMSans-Regular.ttf);
}

@font-face {
  font-family: mediumFont;
  src: url(/public/fonts/DMSans-Medium.ttf);
}

@font-face {
  font-family: lightFont;
  src: url(/public/fonts/DMSans-Light.ttf);
}

@font-face {
  font-family: thinFont;
  src: url(/public/fonts/DMSans-Thin.ttf);
}

@font-face {
  font-family: semiBoldFont;
  src: url(/public/fonts/DMSans-SemiBold.ttf);
}

@font-face {
  font-family: headBlakFont;
  src: url(/public/fonts/PlayfairDisplay-Bold.ttf);
}

@font-face {
  font-family: headBoldFont;
  src: url(/public/fonts/PlayfairDisplay-SemiBold.ttf);
}

@font-face {
  font-family: headMediumFont;
  src: url(/public/fonts/PlayfairDisplay-Medium.ttf);
}

@font-face {
  font-family: headRegularFont;
  src: url(/public/fonts/PlayfairDisplay-Regular.ttf);
}
