---
import Heading from "../components/heading.astro";
---

<section id="gallery" class="menu-section bg-section">
  <Heading
    subtitle="Gallery"
    title="Our Outlets"
    content="Step in. Chill out. A glimpse into the Bezt Kulfis experience."
  />
  <div class="kulfi-gallery">
    <div class="gallery-item">
      <img src="../../public/assets/images/shop-1.png" alt="Gallery Shop 1" />
    </div>
    <div class="gallery-item">
      <img src="../../public/assets/images/shop-2.png" alt="Gallery Shop 2" />
    </div>
    <div class="gallery-item">
      <img src="../../public/assets/images/shop-3.png" alt="Gallery Shop 3" />
    </div>
    <div class="gallery-item">
      <img src="../../public/assets/images/shop-4.png" alt="Gallery Shop 4" />
    </div>
    <div class="gallery-item">
      <img src="../../public/assets/images/shop-5.png" alt="Gallery Shop 5" />
    </div>
    <div class="gallery-item">
      <img src="../../public/assets/images/shop-6.png" alt="Gallery Shop 6" />
    </div>
    <div class="gallery-item">
      <img src="../../public/assets/images/shop-7.png" alt="Gallery Shop 7" />
    </div>
  </div>
</section>
