---
interface ButtonProps {
  text: string;
  btnClass: string;
}

const { text, btnClass } = Astro.props;
---

<button class={btnClass}>{text}</button>

<style lang="scss">
  @use "../assets/scss/mixin" as *;
  @use "../assets/scss/variables" as *;
  @use "../assets/scss/root" as *;
  @use "../assets/scss/base" as *;

  .btn {
    padding: 0.625rem 1.25rem;
    border: none;
    background: var(--primaryTxtClr);
    font-family: var(--fontMedium);
    font-size: var(--ft-14);
    line-height: var(--ft-20);
    height: auto;

    &.btn-primary {
      border-radius: 5rem;
      color: var(--whiteClr);

      &:hover {
        background: var(--darkPrimaryClr);
        box-shadow: var(--btnDropShadow);
      }
    }
  }
</style>
