---
import Button from "../components/buttons.astro";
import Logo from "../components/logo.astro";
---

<header>
  <Logo />
  <nav role="navigation">
    <ul role="list">
      <li role="listitem"><a href="#home">Home</a></li>
      <li role="listitem"><a href="#menu">Menu</a></li>
      <li role="listitem"><a href="#franchise">Franchise</a></li>
      <li role="listitem"><a href="#gallery">Gallery</a></li>
      <li role="listitem"><a href="#contact">Contact</a></li>
    </ul>
  </nav>
  <Button text="Call Now" />
</header>
